{% extends "base.html" %}
{% block body %}
<h5 class="mb-3">Change Password</h5>
<form method="post" class="border rounded p-3" style="max-width:520px">
  <div class="mb-3">
    <label class="form-label">Current password</label>
    <input class="form-control" type="password" name="old" required>
  </div>
  <div class="mb-3">
    <label class="form-label">New password</label>
    <input class="form-control" type="password" name="new1" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Confirm new password</label>
    <input class="form-control" type="password" name="new2" required>
  </div>
  <button class="btn btn-primary">Update password</button>
</form>
{% endblock %}

