Flask==3.1.2
gunicorn==21.2.0
psycopg2-binary==2.9.9
bcrypt==4.2.1
Flask-WTF==1.2.1
flask-talisman==1.1.0
flask-seasurf==1.1.1
cryptography==42.0.5
apscheduler==3.10.4
requests==2.31.0
httpx==0.26.0
python-dotenv==1.0.0
pandas==2.2.0
openpyxl==3.1.5
loguru==0.7.2
python-json-logger==2.0.7
