{% extends "base.html" %}
{% block body %}
<h5 class="mb-3">Change password</h5>
<form method="post" class="border rounded p-3">
  <div class="mb-3">
    <label class="form-label">New password</label>
    <input class="form-control" type="password" name="new_password" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Confirm new password</label>
    <input class="form-control" type="password" name="new_password2" required>
  </div>
  <button class="btn btn-primary">Update</button>
</form>
{% endblock %}